<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weird.mapper.main.RecordMapper">
    <cache type="org.apache.ibatis.cache.impl.PerpetualCache"
           size="256"
           eviction="LRU"
           readOnly="false"/>
    <insert id="insert" parameterType="com.weird.model.RecordModel">
        insert into record (operator, detail)
        values (#{operator}, #{text})
    </insert>
</mapper>