<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weird.mapper.card.CardPreviewMapper">
    <cache type="org.apache.ibatis.cache.impl.PerpetualCache"
           size="2048"
           eviction="LRU"
           readOnly="true"/>
    <resultMap id="BaseResultMap" type="com.weird.model.CardPreviewModel">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="atk" jdbcType="VARCHAR" property="atk"/>
        <result column="def" jdbcType="VARCHAR" property="def"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="race" jdbcType="VARCHAR" property="race"/>
        <result column="attribute" jdbcType="VARCHAR" property="attribute"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
    </resultMap>
    <select id="getPreviewByName" resultMap="BaseResultMap">
        select datas.id id,
        filter_texts.name name,
        datas.type type,
        datas.atk atk,
        datas.def def,
        datas.level level,
        datas.race race,
        datas.attribute attribute,
        filter_texts.desc desc
        from datas inner join (
        select id, name, desc from texts
        where name = #{name}) filter_texts on datas.id = filter_texts.id
    </select>

    <select id="blurSearch" resultType="java.lang.String">
        select distinct texts.name
        from texts
        where
            texts.name like "%"||#{word}||"%"
        or
            texts.desc like "%"||#{word}||"%"
    </select>

    <select id="multiBlurSearch" resultType="java.lang.String">
        select distinct t.name
        from texts t
        inner join datas d on d.id = t.id
        <where>
            <if test="wordList != null and wordList.size() > 0">
                and
                <foreach collection="wordList" index="index" item="word" separator="and">
                    (
                        t.name like "%"||#{word}||"%"
                    or
                        t.desc like "%"||#{word}||"%"
                    )
                </foreach>
            </if>
            <if test="typeList != null and typeList.size() > 0">
                and
                <foreach collection="typeList" index="index" item="cardType" separator="and">
                    <if test="cardType.value == 16">
                        (d.type &amp; #{cardType.value} = #{cardType.value} or d.type = 2 or d.type = 4)
                    </if>
                    <if test="cardType.value == 18">
                        d.type = 2
                    </if>
                    <if test="cardType.value == 20">
                        d.type = 4
                    </if>
                    <if test="cardType.value != 16 and cardType.value != 18 and cardType.value != 20">
                        d.type &amp; #{cardType.value} = #{cardType.value}
                    </if>
                </foreach>
            </if>
            <if test="attributeList != null and attributeList.size() > 0">
                and
                <foreach collection="attributeList" index="index" item="cardAttribute" separator="and">
                    d.attribute &amp; #{cardAttribute.value} != 0
                </foreach>
            </if>
            <if test="raceList != null and raceList.size() > 0">
                and
                <foreach collection="raceList" index="index" item="cardRace" separator="and">
                    d.race &amp; #{cardRace.value} != 0
                </foreach>
            </if>
            <if test="level != null">
                and d.level &amp; 0xffff = #{level} and d.type &amp; 1 != 0
            </if>
            <if test="attack != null">
                and d.atk = #{attack} and d.type &amp; 1 != 0
            </if>
            <if test="defense != null">
                and d.def = #{defense} and d.type &amp; 1 != 0 and d.type &amp; 0x4000000 = 0
            </if>
        </where>
    </select>
</mapper>