<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weird.mapper.UserCardListMapper">
    <cache type="org.apache.ibatis.cache.impl.PerpetualCache"
           size="1024"
           eviction="LRU"
           readOnly="false"/>
    <resultMap id="BaseResultMap" type="com.weird.model.UserCardListModel">
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="card_pk" jdbcType="INTEGER" property="cardPk"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
    </resultMap>

    <insert id="insert" parameterType="com.weird.model.UserCardListModel" flushCache="true">
        insert into user_card_list (user_id, card_pk, count
        )
        values (#{userId,jdbcType=INTEGER}, #{cardPk,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.weird.model.UserCardListModel" flushCache="true">
        insert into user_card_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="cardPk != null">
                card_pk,
            </if>
            <if test="count != null">
                count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="cardPk != null">
                #{cardPk,jdbcType=INTEGER},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!-- 自定义 -->
    <select id="selectByUserCard" resultMap="BaseResultMap" useCache="true">
        select user_id, card_pk, count
        from user_card_list
        where user_id = #{userId} and card_pk = #{cardPk}
    </select>

    <update id="update" parameterType="com.weird.model.UserCardListModel" flushCache="true">
        update user_card_list
        set count = #{count}
        where user_id = #{userId} and card_pk = #{cardPk}
    </update>


    <resultMap id="CardListDTO" type="com.weird.model.dto.CardListDTO">
        <result column="package_name" jdbcType="VARCHAR" property="packageName"/>
        <result column="card_name" jdbcType="VARCHAR" property="cardName"/>
        <result column="rare" jdbcType="VARCHAR" property="rare"/>
    </resultMap>

    <select id="selectCardList" resultMap="CardListDTO" useCache="false">
        select package_info.package_name,
        package_card.card_name,
        package_card.rare
        from package_info inner join package_card on package_info.package_id = package_card.package_id
        where package_name like concat("%", #{packageName} ,"%")
        and card_name like concat("%", #{cardName} ,"%")
        <if test="rare != ''">
            and rare = #{rare}
        </if>
        order by package_card.package_id, package_card.rare, package_card.card_name
    </select>


    <resultMap id="CardOwnListDTO" type="com.weird.model.dto.CardOwnListDTO">
        <result column="package_name" jdbcType="VARCHAR" property="packageName"/>
        <result column="card_name" jdbcType="VARCHAR" property="cardName"/>
        <result column="rare" jdbcType="VARCHAR" property="rare"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
    </resultMap>

    <select id="selectCardOwnList" resultMap="CardOwnListDTO" useCache="false">
        select package_info.package_name,
        package_card.card_name,
        package_card.rare,
        user_data.user_name,
        user_card_list.count
        from package_info inner join package_card on package_info.package_id = package_card.package_id
        inner join user_card_list on package_card.card_pk = user_card_list.card_pk
        inner join user_data on user_data.user_id = user_card_list.user_id
        where
        user_data.is_admin = 0
        and package_name like concat("%", #{packageName} ,"%")
        and card_name like concat("%", #{cardName} ,"%")
        <if test="rare != ''">
            and rare = #{rare}
        </if>
        and user_name like concat("%", #{userName} ,"%")
        order by package_card.package_id, package_card.rare, package_card.card_name, user_data.user_name
    </select>

    <select id="selectCardOwnCount" resultType="java.lang.Integer" useCache="true">
        select count(1)
        from user_card_list
        where card_pk = #{cardPk}
    </select>
</mapper>